fieldset {
    background-color: rgb(250, 11, 11);
}

h1 {
    background-color: rgb(255, 0, 0);
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background-color: blue;
}

* {
    Margin: 0;
    padding: 0;
}

legend {
    font-family: "Comic Sans MS", sans-serif;
}


.normal {
    font-style: normal;
    /* letra normal*/
}

.italica {
    font-style: italic;
    /*letra cursiva*/
}

.negrita {
    font-weight: bold;
    /*letra tipo negrita*/
}

.normal {
    font-weight: normal;
    /*letra tipo normal*/
}

.textoGrande {
    font-size: 20px;
    /*medida de longitud*/
}

.textoRelativo {
    font-size: 200%;
    /*porcentaje en zoom*/
}

.impact {
    font-family: Impact, sans-serif;
    /*letra tipo wordpad*/
}

.comicSans {
    font-family: "Comic Sans MS", sans-serif;
    /*letrita comicsans*/
    font-weight: 300;
}

.centrar {
    text-align: center;
    /*texto al medio*/
}

.aLaDerecha {
    text-align: right;
    /*texto a la derecha*/
}

/*valores posibles LEFT RIGHT CENTER JUSTIFY*/

.interlineado {
    line-height: 1.6;
    /*se ve texto ensimado*/
}

/*valores posibles : none <numero>/<longitud>/<porcentaje>*/

.colorDeFondo {
    background-color: yellow;
    /*se ve el fondo amarillo*/
}

.colocarFondoDeImagen {
    padding: 0;
    background: url();
    /*colocar url de imagen*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.fondoDeTextoConImagen {
    background-image:
        url("");
    /*colocar url de imagen*/
}

.FondoDeTextoConImagenEnL {
    background-image: url()
        /*colocar url de imagen*/
    ;
    url()
    /*colocar segunda url de imagen y aclarar la direccion*/
    background-repeat: repeat - x,
        repeat - y;
}



html {
    /* etiqueta raíz */
    font-size: 62.5%;
}

p {
    font-size: 2rem;
    /* 20px */
}

/* 62.5%, hace que en vez de que 16px sea el valor a tomar en cuenta para calcular las
        unidades relativas, se use 10px */



.subrayado {
    text-decoration: none;
    /*se puede usar underline overline line-through(subrayado)*/
}